<h1> Login page </h1>

<form action="/LPost" method="POST">

<label> Username </label>
  <input type="text" name="Username" > </br> </br>
  <label> Password </label>
  <input type="password" name="Password" > </br> </br>

<input type="submit" value="Submit">
</form>
